.translated {
    display: inline-block !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 5px !important;
    padding: 0px 2px !important;
}

.translated:hover {
    cursor: pointer;
    opacity: 0.5;
}

.new-word {
    background-color: rgb(250, 182, 182) !important;
    border-color: rgb(250, 182, 182);
    color: rgb(157, 2, 2) !important;
}

.practicing {
    background-color: rgb(252, 214, 197) !important;
    border-color: rgb(252, 214, 197);
    color: rgb(145, 94, 0) !important;
}

.learned-word {
    background-color: rgb(250, 197, 255) !important;
    border-color: rgb(250, 197, 255);
    color: purple !important;
}

.semi-fluent {
    background-color: rgb(198, 205, 255) !important;
    border-color: rgb(198, 205, 255);
    color: rgb(64, 0, 128) !important;
}

.fluent {
    background-color: rgb(197, 241, 255) !important;
    border-color: rgb(197, 241, 255);
    color: rgb(0, 0, 121) !important;
}

.mastered {
    background-color: rgb(197, 197, 197) !important;
    border-color: rgb(197, 197, 197);
    color: black !important;
}


.ERROR {
    background-color: black !important;
    border-color: black;
    color: red !important;
}

#vocab-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed !important;
    z-index: 99999;
    right: 10px !important;
    top: 5px !important;
}

#settings-icon {
    background-color: rgb(141, 141, 141) !important;
    border-radius: 10px;
    padding: 3px 7px;

    font-size: 10pt;
    color: white;
    opacity: 0.3;
}

#settings-icon:hover {
    cursor: pointer;
    opacity: 1;
}

#text-selection-box {
    display: block;
    font-size: 10pt;
}

#text-translation-box {
    display: block;
    font-size: 10pt;
}

#settings-edit-vocab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#settings-edit-vocab-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#advanced-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}





.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}

.button {
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    font-size: 10pt;
    padding: 5px 0;
}

.grey-button {
    background-color: rgb(67, 67, 67);
    color: rgb(179, 179, 179);
}
.grey-button:hover {
    background-color: rgb(38, 38, 38);
    color: white;
}

.yellow-button {
    background-color: rgb(236, 237, 190);
    color: black;
}
.yellow-button:hover {
    background-color: rgb(180, 182, 75);
    color: white;
}

.green-button {
    background-color: rgb(190, 237, 209);
    color: black;
}
.green-button:hover {
    background-color: rgb(89, 179, 125);
    color: white;
}

.exit-button {
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    font-size: 10pt;
    padding: 3px 3px;
}




.hidden {
    display: none !important;
}

.toaster {
    display: block;
    position: fixed !important;
    z-index: 99999;
    padding: 20px;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 10px;
    background-color: white;
    font-size: 10pt;
}

.success {
    background-color: rgb(199, 237, 199);
}

.failure {
    background-color: rgb(237, 199, 199);
}